@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* main properites */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* start header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    box-shadow: 0 0 5px #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/* change navbar color from js */
.header.sticky {
    background-color: var(--bg-color);
}

/* change navbar color from js*/
.header .logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    /* position: relative; */
}


.header .logo span {
    color: var(--main-color);
}

.header .logo img {
    width: 80px;
    margin: 0 10px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*------------------- */
.navbar {
    position: relative;
    overflow: hidden;
}

/* .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .navbar li {
    text-decoration: none;
    list-style: none;
} */
.navbar a {
    transition: 0.4s;
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    /* position: relative; */
    margin-left: 3.5rem;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.navbar a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: var(--main-color);
    left: -100%;
    overflow: hidden;
}

.navbar a:hover::before {
    left: 0;
}

/* {
    color: var(--main-color);
} */

.navbar a.active,
.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* end header */
/* Home page */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    z-index: -1;
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(../images/mainlogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-blocks;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
}

.home-content h1 span {
    position: relative;
    color: var(--main-color);
}

.home-content h1 span .text {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 38.8rem;
}

.home-content .text-animate h3 {
    position: relative;
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--text-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeText 6s linear infinite;
    animation-delay: 2s;
    -webkit-animation: homeText 6s linear infinite;
}

.home-content .text-animate h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 3px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
    -webkit-animation: homeCursorText 6s linear infinite;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    line-height: 1.5;
    color: #ddd;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 15rem;
    height: 100%;
    border: 3px solid var(--text-color);
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--text-color);
    border-radius: 15px;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-box .btn:nth-child(2) {
    background-color: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background-color: var(--main-color);
}

.btn-box .btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-social {
    position: relative;
    z-index: 10;
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0.3rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home-social a:hover {
    color: var(--bg-color);
}

.home-social a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: 0.4s;
    left: 0;
    background-color: var(--main-color);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.home-social a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transition: 0.5s;
    height: 100%;
    background-color: transparent;

    background-color: var(--bg-color);
    z-index: 1;
    opacity: 0.4;
    transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.home-imgHover:hover {
    background-color: var(--bg-color);
    opacity: 0.4;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* Home page */
/* about page */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
}

.about .about-img img {
    width: 300px;
    height: 245px;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.5rem solid var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    border-top: 0.4rem solid var(--second-bg-color);
    border-bottom: 0.4rem solid var(--second-bg-color);
    border-left: 0.4rem solid var(--main-color);
    border-right: 0.4rem solid var(--main-color);
    animation: aboutSpin 8s linear infinite;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: aboutSpin 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content h3 span {
    color: var(--main-color);
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.8;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background-color: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .title span {
    color: var(--main-color);
}

.education-column .education-box {
    border-left: 0.3rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    position: absolute;
    content: "";
    top: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--main-color);
    left: -1.2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: 0.3rem solid var(--main-color);
    margin-bottom: 2rem;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.education-content .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    height: 100%;
    background-color: var(--second-bg-color);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.education-content .content:hover:before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: 1rem;
}

.education-content .content .year i {
    padding-right: 1rem;
}

.education-content .content h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.education-content .content h3 span {
    color: var(--main-color);
}

.education-content .content p {
    font-size: 1.5rem;
    line-height: 1.6;
    padding-top: 0.5rem;
}

/* about page */
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: 0.3rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.skills-box .skills-content::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    transition: 0.5s;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-box .skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--main-color);
    padding: 0.5rem;
    margin: 1rem 0;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background-color: var(--main-color);
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
    width: 75%;
}

/* contact */
/* .contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-filed {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-filed input,
.contact form .textarea-filed textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: transparent;
    border-radius: 0.6rem;
    border: 0.3rem solid var(--main-color);
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.contact form .btn-box {
    margin: 0 auto;
} */
/* gallery */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
}

.image-container img:hover {
    opacity: 0.7;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.filter-button {
    background-color: var(--second-bg-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 25px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.filter-button.active {
    background-color: #00abf0;
    color: white;
}

/* gallery */
.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-filed {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
    overflow: hidden;
}

.contact form .input-box .input-filed input,
.contact form .textarea-filed textarea {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    border: 0.3rem solid var(--main-color);
    padding: 1.5rem;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 16px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contact form .focus {
    position: absolute;
    top: 0;
    overflow: hidden;
    border-radius: 1rem;
    z-index: -1;
    left: 0;
    width: 0;
    transition: 0.5s;
    height: 100%;
    background-color: var(--second-bg-color);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.contact form .input-filed input:focus~.focus,
.contact form .input-filed input:valid~.focus,
.contact form .textarea-filed textarea:focus~.focus,
.contact form .textarea-filed textarea:valid~.focus {
    width: 100%;
}

.contact form .input-box .input-filed input::placeholder,
.contact form .textarea-filed textarea::placeholder {
    color: var(--text-color);
}

.contact form .textarea-filed {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-filed textarea {
    resize: none;
}


.contact form .btn-box button {
    /* margin: 1px 0; */
    cursor: pointer;
    transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
}

/* contact */
/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}

.footer .footer-text p {
    font-size: 2rem;
}

.footer .footer-text p span {
    color: var(--main-color);
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-color);
    border: 0.3rem solid var(--main-color);
    border-radius: 0.7rem;
    z-index: 1;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}

.footer-iconTop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: 0.4s;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 17px;
    color: var(--text-color);
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

/* footer */


/* breakPoint */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }

    .about .about-img img {
        width: 320px;
        height: 215px;
    }
}

@media(max-width:991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .about .about-img img {
        width: 320px;
        height: 200px;
    }

    .contact form .btn-box button {
        transform: translateX(240px);
        -webkit-transform: translateX(240px);
        -moz-transform: translateX(240px);
        -ms-transform: translateX(240px);
        -o-transform: translateX(240px);
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media(max-width:768px) {
    .header {
        background-color: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 75%;
        left: -100%;
        z-index: 2;
        width: 100%;
        z-index: 100;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        transition: .25s ease;
        transition-delay: .25s;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
    }

    /* active class from js */
    .navbar.active {
        transition-delay: 0s;
        left: 0;
    }

    /* active class from js */

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-align: center;
        padding: 1rem;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
        -webkit-transform: translateX(-20rem);
        -moz-transform: translateX(-20rem);
        -ms-transform: translateX(-20rem);
        -o-transform: translateX(-20rem);
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .navbar .navbar.active {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transition: .25s ease;
        transition-delay: 0s;
        border-top: 0.2rem solid rgba(0, 0, 0, 0.3);
        z-index: -1;
        -webkit-transition: .25s ease;
        -moz-transition: .25s ease;
        -ms-transition: .25s ease;
        -o-transition: .25s ease;
    }

    .home-imgHover {
        pointer-events: none;
        background-color: var(--bg-color);
        opacity: 0.5;
        width: 100%;
    }

}

@media(max-width:520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-social {
        width: 160px;
    }

    .home-social a {
        width: 38px;
        height: 38px;
    }

    .contact form .input-box .input-filed {
        width: 100%;
    }

    .footer p {
        margin-bottom: 2rem;
    }

    .contact form .btn-box button {
        transform: translateX(175px);
        -webkit-transform: translateX(175px);
        -moz-transform: translateX(175px);
        -ms-transform: translateX(175px);
        -o-transform: translateX(175px);
    }
}

@media(max-width:460px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-filed {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .footer p {
        margin-bottom: 2rem;
    }

    .contact form .btn-box button {
        transform: translateX(120px);
        -webkit-transform: translateX(120px);
        -moz-transform: translateX(120px);
        -ms-transform: translateX(120px);
        -o-transform: translateX(120px);
    }
}

@media(max-width:371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

/* breakPoint */

/* Animation */
@keyframes homeText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* animation reload and scroll */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 10;
}

/* animation reload and scroll */
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    -webkit-animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    animation-delay: calc(.3s / var(--i));
    animation: none;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-animation: none;
}

.about.show-animate .animate.scroll {
    animation-delay: calc(.3s * var(--i));
    width: 0;
}

.animate .home-img {
    width: 50%;
}

/* animation reload and scroll */

/* Animation */